<!DOCTYPE html>
<html>
<head>
 <title>Welcome to Nancy's Blog</title>
</head>
<body>
 <!-- Site Header -->
 <h1>Hi. I am Nancy. Welcome to my blog!</h1>

<!-- Blog Post -->
 <h2>こんにちは!</h2>
 <p>面筋哥是一个经历坎坷的人，现在网上还能找到他曾经乞讨卖唱的视频，就是这样的情况下还一直在搞创作，真的让我非常的钦佩!如今面筋哥有了翻天覆地的变化，今天找到了一首他最新的作品《我爱上一个女孩》!这首歌让我想起了美好的爱情和情窦初开般的羞涩

仿佛看到一个网名叫做“酷炫小子”的网吧少年在和一个叫叫“南望”的女孩纸，在夏天的午后相约在网吧玩着劲舞团的画面~空气中还有一个面筋的香气....

面筋哥有今天的成功除了b站大佬的助力外还有他对音乐的热爱和坚持，希望他日后越来越好!面筋哥之前还参加过中国梦之声大秀唱功让人惊奇!</p>
 <p>O(∩_∩)O O(∩_∩)O O(∩_∩)O O(∩_∩)O O(∩_∩)O O(∩_∩)O O(∩_∩)O O(∩_∩)O O(∩_∩)O O(∩_∩)O</p>
 	<p><img src="http://www.xz7.com/up/2018-4/2018040317434679999.gif"></p>
 	<p><img src="http://www.xz7.com/up/2018-4/2018040317434724704.gif"></p>
<p>面筋哥，原名程书琳，今天44岁了，原为流浪歌手，现在则是淮滨一家唱片公司签约歌手到这里，面筋哥的信息就戛然而止，中间发生了什么不得而知，直到........直到他的单曲发行。对，你没有看错，面筋哥作为原创型歌手出道了，到目前为止已发行了7张专辑若干首单曲，在QQ音乐和酷狗都能搜索到</p>
    <p><img src="http://t12.baidu.com/it/u=3226308959,768387581&fm=173&app=25&f=JPEG?w=640&h=865&s=A9134497440362FE4639F08E0300B093"></p>
 	<p><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1526021486685&di=4939ed8a46047c44ac35613ee3acff86&imgtype=0&src=http%3A%2F%2Fwww.xz7.com%2Fup%2F2018-4%2F15228062277237730.jpg"></p>

<!-- Like And Comment -->
 <button>Like</button>
 <h2>Leave a Comment</h2>
 <form action="{% url 'blog:home_page' %}" method="POST">
	 {% csrf_token %}
	 <input type="text" placeholder="Please Enter Your username" name="username"><br><br>
	 <textarea name="comment" placeholder="Please Enter Your Comment"></textarea><br>
	 <input type="submit" value="Post Me!">
 </form>

<h2>Comments</h2>
 User {{comment.user}} says: {{comment.comment}}


 <h2>All Comments</h2>
 {% for each_comment in comments %}
 User {{each_comment.user}} says: {{each_comment.comment}} <hr>
{% endfor %}
</body>
</html>